[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/2DEngine"]
	path = vendored/2DEngine
	url = https://github.com/DarkPhotonBeam/sdl_2d_engine.git
